.main-page-layout {
  display: block;
}

.main-page-layout--split {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 30px;
}

.main-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.details-wrapper {
  position: sticky;
  top: 20px;
  animation: slide-in 0.4s ease;
}

@media (width < 769px) {
  .main-page-layout--split {
    grid-template-columns: 1fr;
  }

  .details-wrapper {
    order: -1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(24px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
