.switcher {
  display: flex;
  gap: 4px;

  padding: 4px;
  border-radius: 8px;

  background-color: var(--color-accent);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 12px;
  border-radius: 6px;

  font-size: 14px;
  font-weight: 600;
  line-height: 0;
  color: var(--color-neutral-light-text);
  text-transform: uppercase;

  transition: background-color 0.2s ease;
}

.btn.active {
  color: var(--color-text);
  background-color: var(--color-surface);
}

@media (hover: hover) and (pointer: fine) {
  .btn:not(.active):hover {
    background-color: var(--color-neutral-bg-30);
  }
}
